<!doctype html>
<html ng-app="mf0App">
<head>
    <meta charset="UTF-8">
    <title>MF0 Tools</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="mf0.js"></script>
</head>
<body>
  <div ng-controller="TeamSetupController as teamSetup">
    <div style="display:flex; flex-direction: row;">
      <div ng-repeat="player in teamSetup.players track by player.uuid" style="margin-left: 15px; border-left: 1px; flex-direction: column; width: 150px;">
        <div>Name: <input type="text" name="name" ng-model="player.name" placeholder="Player name" ng-change="teamSetup.recalculate()"></div>
        <div>Mobile frames: <input type="number" name="mobile-frames" ng-model="player.mf" ng-change="teamSetup.recalculate()"></div>
        <div>Mobile frame systems: <input type="number" name="mobile-frame-systems" ng-model="player.systems" ng-change="teamSetup.recalculate()"></div>
        <div>Stations: <input type="number" name="Mobile stations" ng-model="player.st" ng-change="teamSetup.recalculate()"></div>
        <div>Role: {{ player.role }}</div>
        <div>Score: {{ player.score }}</div>
        <div><button ng-click="teamSetup.removePlayer(player)" style="margin-top: 10px;">Remove player</button></div>
      </div>
    </div>
    <button ng-click="teamSetup.addPlayer()" style="margin-top: 10px;">Add player</button>
    <div style="display:flex; flex-direction: column;">
      <div style="flex-direction: row;">
        <input type="checkbox" ng-model="teamSetup.showShips" name='ships'>
        <label for='ships'>Track ships</label>
      </div>
      <div ng-repeat="fleet in teamSetup.players track by fleet.uuid" ng-if="teamSetup.showShips">
        <h4>{{ fleet.name }}</h4>
        <div ng-repeat="ship in fleet.ships track by ship.uuid" style="display: flex; flex-direction: row;">
          <label for='type'>Type:</label>
          <select  name="type">
            <option value="capital">Capital</option>
            <option value="frigate">Frigate</option>
          </select>
        </div>
        <button ng-click="teamSetup.addShip(fleet)">Add ship</button>
      </div>
    <div>
  </div>
</body>
</html>
