* {
  font-family: 'Sofia Sans', sans-serif;
}

.column-justified {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.dead {
  color: #aaa;
}

.captured {
  background-color: #ebebeb;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #ebebeb;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 1;
}

.overlay-show {
  opacity: 1;
  visibility: visible;
}

.tas {
  width: 120px;
  padding-left: 5px;
  padding-right: 5px;
}

