<div class="ship col-3 row row-cols-1 rounded-3 p-1 m-0" :class="ship.destroyed ? 'dead' : 'bg-dark'">
  <div class="row justify-content-start">
    <h4
      class="col"
      :class="isCaptured ? 'captured' : ''"
      :title="ship.name + (ship.destroyed ? ' dead ' : ' ') + (isCaptured ? 'captured' : '')"
    >{{ ship.name || 'noname' }}</h4>
    <div class="col-1">
      <button
        type="button"
        class="btn btn-sm btn-outline-info"
        title="Transfer"
        :hidden="ship.destroyed"
        @click="startTransfer"
      >⇌</button>
    </div>
    <div :class="ship.showPopup ? 'overlay overlay-show' : 'overlay'">
      <div class="row row-cols-1 popup gap-3 justify-content-center border rounded-4">
        <h3 class="col">Transfer ship {{ ship.name }} to:</h3>
        <div v-for="(target, i) in otherFleets()" :key="i" class="col d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-warning" @click="pickTransferTarget(target)">{{ target.name }}</button>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-light" @click="cancelTransfer">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <span class="col">{{ diceText }}</span>
  <div v-for="(system, i) in ship.systems" :key="i" class="col system form-check">
    <label class="form-check-label">
      <input
        class="form-check-input"
        type="checkbox"
        :checked="system.disabled"
        @click="systemStateChange(system, $event.target.checked)"
      />
      {{ systemText(system) }}
    </label>
  </div>
</div>
