<div class="system-slot">
  <div class="system-slot-row">
    <span class="system-icon" v-html="systemIcon(system.class)"></span>
    <select class="field-select system-slot-class-select" :value="system.class" @input="changeClass($event.target.value)">
      <option value=""></option>
      <option :value="ShipSystem.ATTACK">Attack</option>
      <option :value="ShipSystem.DEFENSE">Defence</option>
      <option :value="ShipSystem.SENSOR">Sensors</option>
      <option :value="ShipSystem.CATAPULT">Catapult</option>
    </select>
  </div>
  <div v-if="system.class === ShipSystem.ATTACK" class="system-slot-row system-slot-attack-row">
    <select class="field-select" :value="system.attackType" @input="changeAttackType($event.target.value)">
      <option v-for="(label, code) in AttackTypeLabels" :key="code" :value="code">{{ label }}</option>
    </select>
    <select
      v-if="secondSystem"
      class="field-select"
      :value="system.attackType2"
      @input="changeAttackType2($event.target.value)"
    >
      <option v-for="(label, code) in AttackTypeLabels" :key="code" :value="code">{{ label }}</option>
    </select>
    <button
      type="button"
      class="icon-btn"
      :class="{ 'is-active': secondSystem }"
      :title="secondSystem ? 'Remove second attack type' : 'Add second attack type'"
      :aria-label="secondSystem ? 'Remove second attack type' : 'Add second attack type'"
      @click="flipSecondSystem"
      v-html="secondSystem ? removeIconSvg : addIconSvg"
    ></button>
  </div>
</div>
