<div v-if="catapults.length > 0" class="ace-picker">
  <span class="eyebrow">{{ mechCompanyLabel }}</span>
  <label v-if="!(fleet.aceSelected && !ship.hasAce)" class="check-toggle">
    <input type="checkbox" :checked="ship.hasAce" @click="setAce($event.target.checked)" />
    <span>Eligible for an ace</span>
  </label>
  <div v-if="ship.hasAce" class="ace-swatches">
    <button
      v-for="ace in aceTypes"
      :key="ace.value"
      type="button"
      class="ace-swatch-btn"
      :class="{ 'is-selected': ship.aceType === ace.value }"
      :aria-label="ace.label"
      @click="changeAceType(ace.value)"
    >
      <span class="ace-swatch" :style="{ color: ace.color }" v-html="aceIconSvg"></span>
      <span>{{ ace.label }}</span>
    </button>
  </div>
</div>
